:root{
    --main-font: font-family: 'Roboto', sans-serif;
    --secoundary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196F3; 
    --secoundary-color:  #757575;
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

ul,
ol{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

img{
    display: block;
}

.link{
    text-decoration: none;
}

.list{
    list-style-type: none;
}

.container{
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}

body{
    font-family: var(--main-font,--secoundary-font);
    color: #212121;
    padding: 0;
    margin: 0;
}

/* =======HEADER====== */

.section{
    padding: 94px 0;
}

.header{
    border-bottom: 1px solid #ECECEC;
}

.header .container{
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.navigation{
    display: flex;
}

.navigation-list{
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child){
    margin-right: 46px;
}

.navigation-logo{
    font-family: var(--secoundary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: #000000;
    cursor: pointer;
    margin-right: 76px;
}

.navigation-logo span{
    color: var(--main-color);
}

.navigation-list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1,172;
    letter-spacing: 0.02em;
    cursor: pointer;
}
.navigation-list-link:hover,
.navigation-list-link:focus{
    color: var(--main-color);
}

.contact-list{
    display: flex;
    margin-left: auto;
}

.contact-list-item:not(:last-child){
    margin-right: 50px;
}

.contact-list{
    font-style: normal;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,423;
    letter-spacing: 0.02em;
    color: var(--secoundary-color);
}

.contact-link{
color: var(--secoundary-color);
cursor: pointer;
}
.contact-link:hover,
.contact-link:focus{
    color: var(-main-color);
}

/* ===END=HEADER====== */

/* =======MAIN====== */

.title .container{
    text-align: center;
}

.title{
    background-color: #2F303A;
    padding: 200px 0;
}

h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
}

.modal-btn{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 41px;
    margin-left: auto;
}

.paragraphs .list{
    display: flex;
}

.par-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: left;
}

.par{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(-secoundary-color);
    padding-top: 94px;
}

.par:not(:last-child){
    margin-right: 30px;
}

.activities-list{
    display:flex;
    justify-content: center;
}

.acivities-list-item:not(:last-child){
    margin-right: 30px;
}

.team{
    background: #F5F4FA;
}

.team-list{
    display: flex;
    justify-content: center;
}

.team-list-item{
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
    text-align: center;
}

.team-list-item:not(:last-child){
    margin-right: 30px;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.portfolio{
    padding: 94px 0;
}

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list-item:not(:last-child){
    margin-right: 8px;
}

.filter-btn{
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #212121;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    text-align: center;
}
.filter-btn:hover,
.filter:focus{
    color: #FFFFFF;
    background-color: var(--main-color);
}

.port-cards-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.port-card{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.port-card:not(:nth-child(3n)){
    margin-right: 30px;
}
.port-card:nth-child(-n+6){
    margin-bottom: 30px;
}

.port-card-label{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 20px;
    margin-left: 24px;
}

.port-card-sublabel{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
}

/* ===END=MAIN====== */

/* =======FOOTER==== */
.footer{
    background-color: #2F303A;
    padding: 60px 0;
}

 .footer .navigation-logo {
    color: #ffffff;
 }
 
 .footer-list-item:not(:last-child){
    margin-bottom: 9px;
}

 .footer .address{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
 }

/* ===END=FOOTER==== */
